<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="description" content="" />
<meta name="keywords" content="" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no"/>
<meta name="author" content=""/>
<link rel="stylesheet" href="./assets/css/bootstrap.css" type="text/css"/>
<link rel="stylesheet" href="./assets/css/bootstrap-select.css" type="text/css"/>
<link rel="stylesheet" href="./assets/css/header.css" type="text/css"/>
<link rel="stylesheet" href="./assets/css/ford-custom.css" type="text/css"/>
<link rel="stylesheet" href="./assets/css/ford-custom-d.css" type="text/css"/>
<link rel="stylesheet" href="./assets/css/ford-custom-t.css" type="text/css"/>
<link rel="stylesheet" href="./assets/css/ford-custom-m.css" type="text/css"/>
<!-- <link rel="stylesheet" href="./assets/css/bootstrap-theme.css" type="text/css"/> -->
<link rel="stylesheet" href="./assets/css/ie/ie.css" type="text/css"/>
<script type="text/javascript" src="./js/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="./js/bootstrap.min.js"></script>
<script type="text/javascript" src="./js/bootstrap-select.js"></script>
<!--[if lt IE 9]>
<script src="./js/html5shiv.js"></script>
<script src="./js/respond.min.js"></script>
<![endif]-->